# Streamlit for web UI
streamlit==1.25.0

# TensorFlow for loading the .h5 model
tensorflow==2.12.0

# Numerical and scientific computing libraries
numpy
scipy

# Image processing
pillow
h5py

# (Optional) Dependencies for better performance
protobuf==3.20.3  # Ensures compatibility with TensorFlow
